<app-toolbar [items] = '[ ["Dashboard", "/dashboard"] ]'></app-toolbar>

<mat-drawer-container class="feeder-main-container">
	<mat-drawer mode="side" opened>
		<span>Sidebar stuff</span>
	</mat-drawer>
	<mat-drawer-content>
		<span>Main Stuff</span>

		<mat-list>
			<table mat-table [dataSource]="feed_items">
				<ng-container matColumnDef="from">
					<td mat-cell *matCellDef="let item">{{ getFeedById(item.feed_id)!.title }}</td>
				</ng-container>

				<ng-container matColumnDef="title">
					<td mat-cell *matCellDef="let item">{{ item.title }}</td>
				</ng-container>

				<ng-container matColumnDef="date_added">
					<td mat-cell *matCellDef="let item">{{ item.date_added }}</td>
				</ng-container>

				<ng-container matColumnDef="link">
					<td mat-cell *matCellDef="let item">
						<a href="{{ item.link }}">Link</a>
					</td>
				</ng-container>

				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		 </mat-list>
	</mat-drawer-content>
</mat-drawer-container>