/* You can add global styles to this file, and also import other style files */
@use 'sass:map';

@use '@angular/material' as mat;

@include mat.core();


// TODO: Use purple-green prebuilt theme.

// $dark-primary: mat.define-palette(mat.$pink-palette);
// $dark-accent: mat.define-palette(mat.$blue-gray-palette);
// $dark-theme: mat.define-dark-theme((
// 	color: (
// 		primary: mat.$dark-theme-background-palette,
// 		accent: mat.$dark-theme-foreground-palette,
// 	)
// ));



// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
	display: flex;
	flex-direction: column;
	height: 100%;
}


.feeder-main-container {
	height: 100%;

	> mat-drawer {
		width: 250px;
	}

	> mat-drawer-content {
		padding: 0 1em;
	}
}