<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Home</title>

		<link rel="stylesheet" href="/style/core.css">
	</head>
	<body>
		<div class="top-nav-bar" id="top-nav-bar"></div>
		<div class="main-container" id="container">
			<div class="nav-bar" id="nav-bar">
				<div class="title-container">
					<h1 class="title">Feeder</h1>
					<!--span class="desc"></span-->
				</div>
				<div class="nav-bar-items">
					<ul class="tree" id="nav-bar-items"></ul>
				</div>
			</div>
		</div>
		<script src="/script/core.js"></script>
	</body>
</html>