<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Home</title>

		<link rel="stylesheet" href="/style/core.css">
		<script data-main="script/core" src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
	</head>
	<body>
		<div class="top-nav-bar" id="top-nav-bar"></div>
	</body>
</html>